# ignoring venv folder
venv/

# ignore vscode dir
.vscode/

# ignoring python cache files
*.pyc

# ignore django migrations
*/migrations/

# basically ignore static files directory
*.js
*.css
*.map

# except these files
!*bootstrap/css/bootstrap.min.css
!*bootstrap/js/bootstrap.bundle.min.js
!*jquery/jquery.min.js